[Desktop Entry]
Name=gcodekit5
Comment=Universal G-Code Sender for Laser and CNC machines
Exec=gcodekit5-design
Icon=com.github.feveal.gcodekit5-design
Terminal=false
Type=Application
Categories=Engineering;Graphics;
Keywords=GCode;Laser;CNC;GRBL;
StartupNotify=true
